/* Estilo general para el body con fondo */
#bodyGen {
    background-image: url('../img/FondoMan.jpg');
    background-size: cover;
    background-position: center;
    margin: 6vh;
    padding: 2vh;
    min-height: 100vh;
}

/* Estilo para las tablas */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
    background-color: #f4f4f4;
}

th {
    background-color: #f4f4f4;
}

/* Estilo para los botones */
.btn {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #f44336;
}

.btn-danger:hover {
    background-color: #d32f2f;
}

.btn-success {
    background-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
}





/* Estilo para los selectores */
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Estilo para las etiquetas de los selectores */
label {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

/* Botones dentro de los formularios */
form button {
    width: auto;
    padding: 5px 5px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

/* Contenedor del formulario */
form {
    margin-bottom: 10px;
}

/* Estilo general para los formularios */
form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
